#signin {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    margin: 2rem auto;
    @include shadow-s;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkmark {
    display: flex;
    justify-content: flex-start;
    align-items:center;
}

.btn-theme-s {
    width: 100%;
}


   
